* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

:root {
    --tuitblue: rgb(29, 161, 242);
    --tuitdarkblue: rgb(20, 136, 209);
    --tuitdarkergray: rgb(53, 53, 53);
    --tuitdarkgray: rgb(133, 133, 133);
    --tuitlightgray: rgb(222, 222, 222);
    --tuitlightgrayopaque: rgb(188, 188, 188, .3);
    --tuitclear: rgba(255, 255, 255, 0);
    --tuitlargefont: 20px;
    --tuitregfont: 15px;
    --tuitsmallfont: 13px;
}

.wd-blue {
    color: var(--tuitblue);
}

.wd-color-subtext {
    color: var(--tuitdarkgray);
}

.wd-color-filler {
    color: var(--tuitlightgray);
}

.wd-color-text {
    color: black;
}

.wd-color-bg {
    color: white;
}


.wd-font-lg {
    font-size: var(--tuitlargefont);
}

.wd-font-rg {
    font-size: var(--tuitregfont);
}

.wd-font-sm {
    font-size: var(--tuitsmallfont);
}

.wd-font-bold {
    font-weight: bold;
}

.wd-img-sq-100 {
    width: 100px;
    height: 100px;
}

.wd-img-sq-50 {
    width: 50px;
    height: 50px;
}

.wd-start-1 {
    margin-left: 1%;
}

.wd-icon-outline {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.wd-icon-outline:hover {
    color: var(--tuitclear);
}

.wd-tuit-logo {
    font-size: 30px;
}

.wd-tuit-logo,
a:hover {
    color: var(--tuitblue);
}

.wd-tuit-btn {
    background-color: var(--tuitblue);
    border-radius: 100px;
    border: none;
    width: 100%;
    color: white;
    padding: 8px;
}

.wd-tuit-btn:hover {
    background-color: var(--tuitdarkblue);
}

.wd-ma {
    margin: auto;
}

.wd-sidelines {
    height: 100vh;
    border-right: 1px solid var(--tuitlightgray);
    border-left: 1px solid var(--tuitlightgray);
}

.wd-bottomline {
    border-bottom: 1px solid var(--tuitlightgray);
    width: 100%;
}

.wd-search-input {
    border: none;
    background: none;
}

.wd-search-input:focus {
    outline: none;
}

.wd-searchbar {
    border-radius: 50px;
    border: 1px solid var(--tuitclear);
    background-color: var(--tuitlightgrayopaque);
    width: 100%;
}

.wd-searchbar:focus-within {
    border: 1px solid var(--tuitblue);
    background-color: none;
}

.wd-topic-underline {
    border-radius: 100px;
    height: 2px;
    border: 3px solid var(--tuitblue);
    margin-left: 20%;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.wd-bg-rd-gray {
    background-color: var(--tuitlightgrayopaque);
    padding: 10px;
    border-radius: 20px;
}

.wd-follow-btn {
    background-color: black;
    border-radius: 100px;
    border: none;
    width: 100%;
    color: white;
    padding: 8px;
}

.wd-follow-btn:hover {
    background-color: var(--tuitdarkergray);
}